<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CNoto+Sans+JP:400,700&display=swap"
		rel="stylesheet">
		<link rel="stylesheet" href="dist/css/swiper.min.css">
		<link rel="stylesheet" href="dist/css/animate.css">
		<link rel="stylesheet" href="src/css/style.css">
		<title><%= title %></title>
		<meta name="description" content="<%= description %>">
</head>

<body >
	<!-- header -->
	<header class="header">
		<div class="header-inner">
			<div class="header-wrap">
				<a href=""><h1 class="header-logo"><img alt="30DAYSトライアル" src="dist/img/logo.png"></h1></a>
				<div class="header-icon js-header-icon">
					<span class="navbar_toggle_icon"></span>
					<span class="navbar_toggle_icon"></span>
					<span class="navbar_toggle_icon"></span>
				</div>
			</div>
			<nav class="header-nav">
				<ul class="header-list">
					<li class="header-item"><a href="#card" class="js-header-item js-header-item-active ">Card</a></li>
					<li class="header-item"><a href="#news" class="js-header-item ">News</a></li>
					<li class="header-item"><a href="#price" class="js-header-item ">Price</a></li>
					<li class="header-item"><a href="#access" class="js-header-item ">Access</a></li>
					<li class="header-item"><a href="#contact" class="js-header-item ">Contact</a></li>
				</ul>
			</nav>
			<nav class="header-nav-drawer">
				<ul class="header-list-drawer">
					<li class="header-item-drawer"><a href="#card" class="js-header-item-drawer">Card</a></li>
					<li class="header-item-drawer"><a href="#news" class="js-header-item-drawer">News</a></li>
					<li class="header-item-drawer"><a href="#price" class="js-header-item-drawer">Price</a></li>
					<li class="header-item-drawer"><a href="#access" class="js-header-item-drawer">Access</a></li>
					<li class="header-item-drawer"><a href="#contact" class="js-header-item-drawer">Contact</a></li>
				</ul>
			</nav>
		</div>
	</header> <!-- /header -->
