$cr-form-bd: #707070;
$cr-form-bd_avtive: #707070;

$cr-check:$cr-m;
$cr-check_active: $cr-m;

$size-checkbox: 30px;
$size-checkbox-pd_left: 50px;

$size-radio: 30px;
$size-radio_active: 18px;
$size-radio-pd_left: 40px;
